<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sourav.flatlek" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>flatlek</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="sourav_dash@outlook.com" href="sourav_dash@outlook.com">
        Sourav Kumar Dash
    </author>
    <content src="index.html" />
    <access origin="*" />
    <engine name="android" spec="~6.0.0" />
    <icon src="icon.png" />
</widget>
